.slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty > h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.empty > p {
  color: #c4c4c4;
  font-weight: 500;
}

.swiper {
  width: 100%;
}

.swiper :global(.swiper-pagination) {
  position: static;
  margin-bottom: 40px;
}

.swiper :global(.swiper-pagination-bullet) {
  background-color: #c4c4c4;
  opacity: 1;
}

.swiper :global(.swiper-pagination-bullet-active) {
  background-color: #001f70;
}

.button {
  margin-top: 10px;
}
