.root {
  position: relative;
  width: 100%;
  border-radius: 15px;
  background-color: #fdfcfc;
  padding: 12px 50px 12px 20px;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  background-color: transparent;
  font-size: 15px;
}

.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  display: none;
}

.input::placeholder {
  color: #c4c4c4;
}

.button {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
